<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bindings</key>
	<string>https://uits.infinitus.com.cn</string>
	<key>Collection</key>
	<string>https://uits.infinitus.com.cn</string>
	<key>Codeless</key>
	<string>ws://172.20.71.125:8887</string>
</dict>
</plist>
