<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Integration</key>
	<string>安装</string>
	<key>AppEnter</key>
	<string>启动</string>
	<key>AppStay</key>
	<string>APP停留</string>
	<key>AppExit</key>
	<string>退出</string>
	<key>BackgroundEnter</key>
	<string>后台</string>
	<key>BackgroundStay</key>
	<string>后台停留</string>
	<key>BackgroundExit</key>
	<string>唤醒</string>
	<key>PageEnter</key>
	<string>浏览</string>
	<key>PageStay</key>
	<string>窗口停留</string>
	<key>PageExit</key>
	<string>窗口退出</string>
	<key>HTMLEnter</key>
	<string>浏览</string>
	<key>HTMLStay</key>
	<string>停留</string>
	<key>HTMLExit</key>
	<string>页面退出</string>
</dict>
</plist>
