<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventName</key>
	<string>event_name</string>
	<key>EventID</key>
	<string>event_id</string>
	<key>EventType</key>
	<string>event_type</string>
	<key>EventLabel</key>
	<string>event_label</string>
	<key>EventTime</key>
	<string>event_time</string>
	<key>Token</key>
	<string>token</string>
	<key>DistinctID</key>
	<string>distinct_id</string>
	<key>DeviceID</key>
	<string>device_id</string>
	<key>SessionID</key>
	<string>session_id</string>
	<key>Reachability</key>
	<string>network</string>
	<key>SDKType</key>
	<string>sugo_lib</string>
	<key>SDKVersion</key>
	<string>sdk_version</string>
	<key>SystemName</key>
	<string>system_name</string>
	<key>SystemVersion</key>
	<string>system_version</string>
	<key>AppBundleName</key>
	<string>app_name</string>
	<key>AppBundleVersion</key>
	<string>app_version</string>
	<key>AppBundleShortVersionString</key>
	<string>app_build_number</string>
	<key>Duration</key>
	<string>duration</string>
	<key>Manufacturer</key>
	<string>manufacturer</string>
	<key>DeviceModel</key>
	<string>device_model</string>
	<key>Carrier</key>
	<string>carrier</string>
	<key>ScreenWidth</key>
	<string>screen_width</string>
	<key>ScreenHeight</key>
	<string>screen_height</string>
	<key>PagePath</key>
	<string>path_name</string>
	<key>PageName</key>
	<string>page_name</string>
	<key>FromBinding</key>
	<string>from_binding</string>
</dict>
</plist>
