<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<dict>
		<key>EventName</key>
		<string>event_name</string>
		<key>EventID</key>
		<string>event_id</string>
		<key>EventType</key>
		<string>event_type</string>
		<key>EventLabel</key>
		<string>event_label</string>
		<key>EventTime</key>
		<string>event_time</string>
		<key>Token</key>
		<string>token</string>
		<key>DistinctID</key>
		<string>distinct_id</string>
		<key>DeviceID</key>
		<string>device_id</string>
		<key>SessionID</key>
		<string>session_id</string>
		<key>Reachability</key>
		<string>network</string>
		<key>SDKType</key>
		<string>sugo_lib</string>
		<key>SDKVersion</key>
		<string>sdk_version</string>
		<key>SystemName</key>
		<string>system_name</string>
		<key>SystemVersion</key>
		<string>system_version</string>
		<key>AppBundleName</key>
		<string>app_name</string>
		<key>AppBundleVersion</key>
		<string>app_build_number</string>
		<key>AppBundleShortVersionString</key>
		<string>app_version</string>
		<key>Duration</key>
		<string>duration</string>
		<key>Manufacturer</key>
		<string>manufacturer</string>
		<key>DeviceModel</key>
		<string>device_model</string>
		<key>DeviceBrand</key>
		<string>device_brand</string>
		<key>Carrier</key>
		<string>carrier</string>
		<key>ScreenWidth</key>
		<string>screen_width</string>
		<key>ScreenHeight</key>
		<string>screen_height</string>
		<key>PagePath</key>
		<string>path_name</string>
		<key>PageName</key>
		<string>page_name</string>
		<key>PageCategory</key>
		<string>page_category</string>
		<key>FromBinding</key>
		<string>from_binding</string>
		<key>LoginUserId</key>
		<string>sugo_login_user_id</string>
		<key>FirstVisitTime</key>
		<string>first_visit_time</string>
		<key>FirstLoginTime</key>
		<string>first_login_time</string>
	</dict>
	<key>Values</key>
	<dict>
		<key>Integration</key>
		<string>APP安装</string>
		<key>FirstVisit</key>
		<string>首次访问</string>
		<key>FirstLogin</key>
		<string>首次登陆</string>
		<key>AppEnter</key>
		<string>启动</string>
		<key>AppStay</key>
		<string>APP停留</string>
		<key>AppExit</key>
		<string>退出</string>
		<key>BackgroundEnter</key>
		<string>后台</string>
		<key>BackgroundStay</key>
		<string>后台停留</string>
		<key>BackgroundExit</key>
		<string>唤醒</string>
		<key>PageEnter</key>
		<string>浏览</string>
		<key>PageStay</key>
		<string>窗口停留</string>
		<key>PageExit</key>
		<string>窗口退出</string>
		<key>HTMLEnter</key>
		<string>浏览</string>
		<key>HTMLStay</key>
		<string>停留</string>
		<key>HTMLExit</key>
		<string>页面退出</string>
		<key>click</key>
		<string>点击</string>
		<key>focus</key>
		<string>对焦</string>
		<key>change</key>
		<string>改变</string>
	</dict>
</dict>
</plist>
