<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bindings</key>
	<string>http://dev220.sugo.net:8000</string>
	<key>Collection</key>
	<string>http://dev220.sugo.net</string>
	<key>Codeless</key>
	<string>ws://dev220.sugo.net:8887</string>
</dict>
</plist>
