<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bindings</key>
	<string>http://tsa.sugo.io</string>
	<key>Collection</key>
	<string>http://collect.sugo.io</string>
	<key>Codeless</key>
	<string>ws://58.63.110.97:2227</string>
</dict>
</plist>
